<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SBMPTN</title>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen"></link>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen"></link>
    <link rel="stylesheet" href="../css/custom.min.css"></link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">SBMPTN</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a href="../">Home</a>
            </li>
            <li>
              <a href="../univ">Universitas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
	    <div class="content">
          <div class="page-header">
            <h1>Pengumuman SBMPTN</h1>
          </div>
	
	      <div class="row">
	        <div class="bs-component col-sm-6">
	          <table class="table table-striped table-hover ">
                <tbody>
                  <tr class="info">
                    <td class="col-md-2">Nomor</td>
                    <td class="col-md-1">:</td>
                    <td class="col-md-2" th:text="${peserta.nomor}"></td>
                  </tr>
                  <tr class="info">
                    <td>Nama</td>
                    <td>:</td>
                    <td th:text="${peserta.nama}"></td>
                  </tr>
                  <tr class="info">
                    <td>Tanggal Lahir</td>
                    <td>:</td>
                    <td th:text="${tglLahir}"></td>
                  </tr>
                  <tr class="info">
                    <td>Umur</td>
                    <td>:</td>
                    <td th:text="${umur}"></td>
                  </tr>
                </tbody>
              </table>
	        </div>
	      </div>
	      <div class="row">
	      	<div class="bs-component col-sm-6">
				<div class="alert alert-success" role="alert" th:if="${peserta.kodeProdi} != null" >Selamat! Anda lulus seleksi SBMPTN pada prodi <a th:text="${prodi.namaProdi} + ' ' + ${univ.namaUniv}" th:href="@{|${univ.urlUniv}|}"></a></div>
				<div class="alert alert-danger" role="alert" th:if="${peserta.kodeProdi} == null">Mohon maaf. Anda belum lulus seleksi SBMPTN</div>
	        </div>
	      </div>
	    </div>
	</div>
  </body>
</html>
