<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PRODI</title>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen"></link>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen"></link>
    <link rel="stylesheet" href="../css/custom.min.css"></link>
    <link rel="stylesheet" href="../css/dataTables.bootstrap.css"></link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">SBMPTN</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">Home</a>
            </li>
            <li class="nav-item active">
              <a href="../univ">Universitas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
	    <div>
          <div class="page-header">
            <h2 th:text="${univ.kodeUniv} + ' - ' + ${univ.namaUniv}"></h2>
          </div>
          <div class="content">
            <h3 th:text="${prodi.kodeProdi} + ' - ' + ${prodi.namaProdi}"></h3>
            <a th:href="@{|${univ.urlUniv}|}" th:text="${univ.urlUniv}"></a>
          </div>
			
			<div class="content">
				<p>&nbsp;</p>
				<h4>Daftar Peserta</h4>
				<p th:text="'Peserta tertua: ' + ${stOlder.nomor} + ' - ' + ${stOlder.nama} + ', ' + ${umurOlder} + ' tahun.'" th:if="${stOlder.nama} != null"></p>
				<p th:text="'Peserta termuda: ' + ${stYounger.nomor} + ' - ' + ${stYounger.nama} + ', ' + ${umurYounger} + ' tahun.'" th:if="${stYounger.nama} != null"></p>
				<p>&nbsp;</p>
			</div>
			
	        <div class="content">
				<div class="box-body table">
			    	<table id="tblPeserta" class="table table-bordered table-striped table-paginate" cellspacing="0" width="100%">
			        	<thead>
			        		<th>Nomor Peserta</th>
			        		<th>Nama Peserta</th>
			        		<th>Menu</th>
			        	</thead>
			        	<tbody>
				        	<tr th:each="student,iterStat: ${students}" th:class="${iterStat.odd}? 'odd'">
				        		<td th:text="${student.nomor}">nomor</td>
				        		<td th:text="${student.nama}">nama</td>
				        		<td align="center"><a th:href="@{|/peserta?nomor=${student.nomor}|}" class="btn btn-info btn-sm" role="button">Lihat Detail</a></td>
				        	</tr>
			        	</tbody>
			        </table>
				</div>
	        </div>
	    </div>
	</div>

    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
        	$('#tblPeserta').DataTable();
     	} );
	</script>
  </body>
</html>
