<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PESERTA</title>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen"></link>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen"></link>
    <link rel="stylesheet" href="../css/custom.min.css"></link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">SBMPTN</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">Home</a>
            </li>
            <li class="nav-item active">
              <a href="../univ">Universitas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
	    <div>
          <div class="page-header">
            <h1>Error</h1>
            <p th:text="'Maaf, Peserta dengan nomor ' + ${nomor} + ' tidak ditemukan'"></p>
          </div>
	    </div>
	</div>
  </body>
</html>
