<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UNIVERSITAS</title>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen"></link>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen"></link>
    <link rel="stylesheet" href="../css/custom.min.css"></link>
    <link rel="stylesheet" href="../css/dataTables.bootstrap.css"></link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">SBMPTN</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">Home</a>
            </li>
            <li class="nav-item active">
              <a href="../univ">Universitas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
	    <div>
          <div class="page-header">
            <h2 th:text="${univ.kodeUniv} + ' - ' + ${univ.namaUniv}"></h2>
            <a th:href="@{|${univ.urlUniv}|}" th:text="${univ.urlUniv}"></a>
          </div>
          
          	<ul class="nav nav-tabs">
			  <li class="active"><a href="#prodi" data-toggle="tab">Prodi</a></li>
			  <li><a href="#peserta" data-toggle="tab">Peserta</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div class="tab-pane fade active in" id="prodi">
				<div class="content">
					<p>&nbsp;</p>
					<h3>Daftar Prodi</h3>
					<a th:href="@{|../prodi/add?kodeUniv=${univ.kodeUniv}|}" class="btn btn-default" role="button" aria-pressed="true">Tambah Prodi</a>
					<p>&nbsp;</p>
				</div>
				
		        <div class="content">
					<div class="box-body table">
				    	<table id="tblProdi" class="table table-bordered table-striped table-paginate" cellspacing="0" width="100%">
				        	<thead>
				        		<th>Kode</th>
				        		<th>Nama</th>
				        		<th>Menu</th>
				        	</thead>
				        	<tbody>
					        	<tr th:each="prodi,iterStat: ${prodis}" th:class="${iterStat.odd}? 'odd'">
					        		<td th:text="${prodi.kodeProdi}">kode prodi</td>
					        		<td th:text="${prodi.namaProdi}">nama prodi</td>
					        		<td align="center">
					        			<a th:href="@{|/prodi?kode=${prodi.kodeProdi}|}" class="btn btn-info btn-sm" role="button">Lihat Detail</a>&nbsp;
					        			<a th:href="@{|/prodi/update/${prodi.kodeProdi}|}" class="btn btn-info btn-sm" role="button">Edit</a>&nbsp;
				        				<a th:href="@{|/prodi/delete/${prodi.kodeProdi}|}" class="btn btn-info btn-sm" role="button">Hapus</a>
					        		</td>
					        	</tr>
				        	</tbody>
				        </table>
					</div>
		        </div>
			  </div>
			  <div class="tab-pane fade" id="peserta">
			    <div class="content">
					<p>&nbsp;</p>
					<h3>Daftar Peserta</h3>
					<p>&nbsp;</p>
				</div>
				
		        <div class="content">
					<div class="box-body table">
				    	<table id="tblPeserta" class="table table-bordered table-striped table-paginate" cellspacing="0" width="100%">
				        	<thead>
				        		<th>Nomor Peserta</th>
				        		<th>Nama Peserta</th>
				        		<th>Prodi</th>
				        		<th>Menu</th>
				        	</thead>
				        	<tbody>
					        	<tr th:each="student,iterStat: ${students}" th:class="${iterStat.odd}? 'odd'">
					        		<td th:text="${student.nomor}">nomor</td>
					        		<td th:text="${student.nama}">nama</td>
					        		<td th:text="${student.namaProdi}">nama prodi</td>
					        		<td align="center"><a th:href="@{|/peserta?nomor=${student.nomor}|}" class="btn btn-info btn-sm" role="button">Lihat Detail</a></td>
					        	</tr>
				        	</tbody>
				        </table>
					</div>
		        </div>
			  </div>
			</div>
	    </div>
	</div>

    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
        	$('#tblProdi').DataTable();
     	} );
	</script>
	<script type="text/javascript">
    	$(document).ready(function() {
        	$('#tblPeserta').DataTable();
     	} );
	</script>
  </body>
</html>
