<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UNIVERSITAS</title>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen"></link>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen"></link>
    <link rel="stylesheet" href="../css/custom.min.css"></link>
    <link rel="stylesheet" href="../css/dataTables.bootstrap.css"></link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">SBMPTN</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">Home</a>
            </li>
            <li class="nav-item active">
              <a href="../univ">Universitas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
	    <div>
          <div class="page-header">
            <h1>Daftar Universitas</h1>
            <a th:href="@{|univ/add|}" class="btn btn-default" role="button" aria-pressed="true">Tambah Universitas</a>
          </div>
			
	        <div class="content">
				<div class="box-body table">
			    	<table id="tblUniv" class="table table-bordered table-striped table-paginate" cellspacing="0" width="100%">
			        	<thead>
			        		<th>ID</th>
			        		<th>Nama</th>
			        		<th>Menu</th>
			        	</thead>
			        	<tbody>
				        	<tr th:each="univ,iterStat: ${univs}" th:class="${iterStat.odd}? 'odd'">
				        		<td th:text="${univ.kodeUniv}">kode univ</td>
				        		<td th:text="${univ.namaUniv}">nama univ</td>
				        		<td align="center">
				        			<a th:href="@{|/univ/${univ.kodeUniv}|}" class="btn btn-info btn-sm" role="button">Lihat Detail</a>&nbsp;
				        			<a th:href="@{|/univ/update/${univ.kodeUniv}|}" class="btn btn-info btn-sm" role="button">Edit</a>&nbsp;
				        			<a th:href="@{|/univ/delete/${univ.kodeUniv}|}" class="btn btn-info btn-sm" role="button">Hapus</a>
				        		</td>
				        	</tr>
			        	</tbody>
			        </table>
				</div>
	        </div>
	    </div>
	</div>

    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
        	$('#tblUniv').DataTable();
     	} );
	</script>
  </body>
</html>
